/* This is the style sheet for our fully responsive website */
.titletext {
  text-align: center;
  padding: 0.5em 0 0 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    font-family: Roboto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
  font-family: Roboto;
  justify-content: center;
}

p {
  font-family: Roboto;
  font-style:italic;
  justify-content: center;
}
