/* Set the page margin and padding settings to 0*/
html, *{
  margin: 0;
  padding: 0;
}

/* This is the style sheet for our fully responsive website */
.titletext {
  display: block;
  text-align: center;
  margin: 4em 0 4em 0;
  padding: 2em 0 0 15em;
}

#paragraph {
  text-align: justify;
  margin: 4em 10em 0 10em;
}

#headerimage {
  display: block;
  float: right;
  height: auto;
  max-width: 100%;
  padding-top: 2em;
}

/* Unordered lists have no dot (list-style-type: none;), have no default margin
and padding settings, covers the entire screen (width: 100%;) and a height that
is auto. Finally the font is ROboto. */
ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #333;
    width: 100%;
    height: auto;
    font-family: Roboto;
    position: fixed;
    top: 0;
}

/* Float any list items to the left */
li {
  float: left;
}

/* Stylize the nav bar anchored items. The text is aligned in the center with
10em of padding on all sides; */
li a {
  color: white;
  text-align: center;
  padding: 1em 2em 1em 2em;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

/* This makes the nav bar color change when mouse hovers over it */
li a:hover {
    background-color: rgb(0,0,150);
    transition: 1.5s;
}

h1 {
  font-family: Roboto;
  justify-content: center;
}

p {
  font-family: Roboto;
  font-style:italic;
  justify-content: center;
}

#video {
  display: block;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
}

#form {
  display: block;
  text-align: center;
  padding-top: 100px;
}
